---
import type {ModuleProps} from "@config/modules";
import Container from '@layout/Container';
interface Props extends ModuleProps {
}

interface Values {
    20: {
        iubenda_code: string;
    };
}

const {slice} = Astro.props;

const values = slice.values as Values;
---

<Container>
    <div class="w-full flex justify-center">
        <div class="lg:w-10/12 xl:w-8/12">
            <div class="privacy-policy">
                <a
                        href={`https://www.iubenda.com/privacy-policy/${values[20].iubenda_code}`}
                        class="iubenda-white no-brand iubenda-embed iub-no-markup iub-body-embed"
                        title="Privacy Policy">Privacy Policy</a
                >
                <script
                        type="text/javascript"
                        src="https://cdn.iubenda.com/iubenda.js"
                        async
                        defer></script>
            </div>
        </div>
    </div>
</Container>
<style is:global lang="scss">
  .privacy-policy {
    h1 {
      @apply mb-5 text-3xl font-bold;
    }

    h2 {
      @apply mb-3 mt-7 text-2xl font-bold;
    }
  }
</style>
