html,
body {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    & > * {
        @apply max-w-[1920px] mx-auto;

        &#iubenda-cs-banner,
        &.fancybox-focus-guard,
        &.fancybox__container,
        &.fancybox-focus-guard
         {
            @apply max-w-none;
        }

        &#iubenda-cs-banner {
            &.iubenda-cs-fix-height {
                .iubenda-cs-container, 
                .iubenda-cs-content, 
                .iubenda-cs-rationale {
                   @apply xl:h-auto #{!important};
               }
            }
        }
        &#iubenda-iframe {
            max-width: none!important;
        }
    }
}