html,
body {
    font-family: '', sans-serif;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

.icon-element {
    font-family: 'iconFont' !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
