html,
body {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    & > * {
        @apply max-w-[1920px] mx-auto;

        &#iubenda-cs-banner,
        &.fancybox-focus-guard,
        &.fancybox__container,
        &.fancybox-focus-guard
         {
            @apply max-w-none;
        }
    }
}