---
import type { Clang } from '@adapters/redaxo/@types';
import { getClangId } from '@helpers/properties-management/server-properties';

interface Props {
    clangs: Clang[];
}

const { clangs }: Props = Astro.props;
const clangId = getClangId(Astro);

console.log('clangId', clangId);
---

<div>
    {
        clangs.length > 1 &&
            clangs?.map((clang) => (
                <a
                    href={clang.url}
                    class:list={[
                        'uppercase',
                        clang.id === clangId ? 'text-primary' : '',
                    ]}
                >
                    {clang.code}
                </a>
            ))
    }
</div>
