---
import Aos from '@utils/aos/Aos';
import { getSliceEditLink } from '@helpers/edit-mode';
import type { Article, ArticleSlice } from 'redaxo-adapter';
interface Props {
    slice: ArticleSlice;
    article?: Article;
    footerModule?: boolean;
}

const executeAos = false;
const { slice, article, footerModule } = Astro.props as Props;
const editLink = getSliceEditLink(Astro, footerModule || false, slice, article);
const isOffline = !slice.online;
---

<Aos client:visible showEffect={executeAos}>
    <section
        class:list={['group relative', isOffline ? 'module-is-offline' : '']}
        id={`section-${slice.id}`}
    >
        <slot />
        {
            editLink && (
                <a
                    href={editLink}
                    target="_blank"
                    class="absolute bottom-10 right-10 rounded-md bg-primary px-4 py-1 text-sm font-bold text-white opacity-0 transition-opacity hover:opacity-50 group-hover:opacity-100"
                >
                    Edit
                </a>
            )
        }
    </section>
</Aos>

<style lang="scss" is:global>
    .module-is-offline {
        & > * {
            @apply opacity-50 transition-all duration-500;
        }
        &:hover {
            & > * {
                @apply opacity-10;
            }

            &:before {
                @apply opacity-100;
            }
        }
        &:before {
            content: 'offline';
            @apply absolute left-10 top-10 rounded-md bg-red-500 px-2 py-1 text-lg font-bold text-white opacity-10 transition-all duration-500;
        }
    }
</style>
