---
import { getSettings } from '@kreatif/starter/utils/wildcards';
import { getSocialMediaMap } from '@kreatif/starter/utils/socials';
import Icon from '@atoms/Icon';

const { contact } = getSettings(Astro);
const { socials = [] } = contact || {};

const socialMediaMap = getSocialMediaMap(socials);
---

{
    socialMediaMap && (
        <div class="flex flex-wrap gap-5">
            {socials.map((social: { name: string }) => {
                const socialMedia = socialMediaMap.get(social.name);
                if (socialMedia) {
                    return (
                        <a
                            class="cursor-pointer"
                            href={socialMedia.url}
                            target="_blank"
                            title={socialMedia.name}
                        >
                            <Icon
                                name={socialMedia.name}
                                class="text-[26px] leading-none hover:text-primary "
                            />
                        </a>
                    );
                }
                return null;
            })}
        </div>
    )
}
