---
import { RedaxoAdapter } from '@adapters/redaxo';
import type { Article } from '@adapters/generic-redaxo-adapter/@types';
import { getAllProperties } from '@helpers/properties-management/server-properties';
interface Props {
    article: Article;
}

const { article } = Astro.props;
const allStates = getAllProperties(Astro);

const clangs = await RedaxoAdapter.getClangs(article.id, allStates.clangId);
---

<div>
    {
        clangs?.map((clang) => (
            <a href={clang.url} class:list={[clang.active ? 'opacity-50' : '']}>
                {clang.code}
            </a>
        ))
    }
</div>
