---
import type { Clang } from '@adapters/redaxo/@types';

interface Props {
    clangs: Clang[];
}

const { clangs }: Props = Astro.props;
---

<div>
    {
        clangs.length > 1 &&
            clangs?.map((clang) => (
                <a
                    href={clang.url}
                    class:list={[
                        'uppercase',
                        clang.active ? 'text-primary' : '',
                    ]}
                >
                    {clang.code}
                </a>
            ))
    }
</div>
