---
import { RedaxoAdapter } from '@adapters/redaxo';
import type { Article } from '@adapters/generic-redaxo-adapter/@types';
import {
    getArticleId,
    getClangId,
} from '@helpers/properties-management/server-properties';

const clangId = getClangId(Astro);
const articleId = getArticleId(Astro);

const clangs = await RedaxoAdapter.getClangs(articleId, clangId);
---

<div>
    {
        clangs?.map((clang) => (
            <a
                href={clang.url}
                class:list={['uppercase', clang.active ? 'opacity-50' : '']}
            >
                {clang.code}
            </a>
        ))
    }
</div>
