---
import Header from '@layouts/header/Header.astro';
import Footer from '@layouts/Footer.astro';
import '@styles/fonts.scss';
import '@styles/spacing.scss';
import '@styles/base.scss';
import '../../../public/fonts/iconFont/iconFont.scss';
import Main from '@layouts/Main.astro';
import Head from '@layouts/head/Head.astro';
import type { Article } from '@adapters/generic-redaxo-adapter/@types';

interface Props {
    article: Article;
}

const { article } = Astro.props;
---

<html lang={article.clang.code.toLowerCase()}>
    <head>
        <Head article={article} />
    </head>
    <body class="overflow-x-hidden">
        <Header />
        <Main article={article} />
        <Footer />
    </body>
</html>
