---
import Header from '@layouts/header/Header.astro';
import Footer from '@layouts/Footer.astro';
import '@styles/fonts.scss';
import '@styles/spacing.scss';
import '@styles/base.scss';
import '../../../public/fonts/iconFont/iconFont.scss';
import Main from '@layouts/Main.astro';
import Head from '@layouts/head/Head.astro';
import {
    getArticleId,
    getClangId,
} from '@helpers/properties-management/server-properties';
import { RedaxoAdapter } from '@adapters/redaxo';

const clangId = getClangId(Astro);
const articleId = getArticleId(Astro);
const article = await RedaxoAdapter.getArticleById(articleId, clangId, {
    slices: true,
    seo: true,
    clang: true,
    breadcrumbs: true,
});
---

<html lang={article.clang.code.toLowerCase()}>
    <head>
        <Head article={article} />
    </head>
    <body class="overflow-x-hidden">
        <Header />
        <Main article={article} />
        <Footer />
    </body>
</html>
