---
import ModuleList from './ModuleList.astro';
import type { Article } from '@adapters/redaxo/@types';

interface Props {
    article: Article;
    footerArticle?: Article;
}

const { article, footerArticle } = Astro.props;
---

<main class="pt-16 md:pt-20 xl:pt-[120px]">
    <ModuleList article={article} />
    {footerArticle && <ModuleList article={footerArticle} />}
</main>
