.aos {
    transition: 1000ms ease;
    transition-delay: 200ms;
    &.inactive {
        opacity: 0;
        transform: translateY(5vh);
    }
    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}
