---
import type { Clang, NavigationItem } from '@adapters/redaxo/@types';
import MobileNavigationItem from '@atoms/MobileNavigationItem.astro';
import LanguagePicker from '@layout/LanguagePicker.astro';

interface Props {
    navigation: NavigationItem[];
    clangs: Clang[];
}
const { navigation, clangs } = Astro.props;
---

<div
    class="invisible fixed right-0 bottom-0 top-16 w-full max-w-sm translate-x-full overflow-auto bg-white p-5 transition-all md:top-20 xl:top-[120px] xl:hidden"
    data-mobile-navigation
>
    <LanguagePicker clangs={clangs} />
    <nav class="mt-3">
        <ul class="flex flex-col">
            {
                navigation
                    .filter((c) => c.parentId == null)
                    .map((category) => (
                        <MobileNavigationItem
                            {...category}
                            children={navigation.filter(
                                (c) => c.parentId == category.id,
                            )}
                        />
                    ))
            }
        </ul>
    </nav>
</div>
<style>
    .open {
        @apply visible translate-x-0 transform;
    }
</style>
