---
import type { Article } from '@adapters/redaxo/@types';

interface Props {
    siteStartArticle: Article;
}

const { siteStartArticle } = Astro.props;
---

<a href={siteStartArticle.url}>
    <img
        src="/img/logo.svg"
        loading="lazy"
        alt="Logo"
        width="225"
        height="65"
        class="mr-4 h-10 w-auto md:h-14 md:w-40 lg:h-auto lg:w-48 xl:w-56"
    />
</a>
