---
import type { NavigationItem } from 'redaxo-adapter';
interface Props extends NavigationItem {
    children?: NavigationItem[];
}

const { url, label, active, internal, children = [] } = Astro.props;
---

<li
    data-navigation-item
    class:list={[
        'relative text-sm uppercase tracking-wide',
        active ? 'text-primary before:scale-x-100' : 'text-gray-600',
    ]}
>
    {
        (
            <a
                href={url}
                class="block py-2 transition-colors"
                target={internal ? '_self' : '_blank'}
            >
                {label}
            </a>
        )
    }
</li>
