<!-- ---
import { getClangCode } from '@helpers/properties-management/server-properties';
import RecoveryForm from '../utils/RecoveryFrom';

const clangCode = getClangCode(Astro);
---

<div class="mt-10 mb-20 flex">
    <div class="ml-auto mr-auto w-[50%] pl-5">
        <h2 class="mb-2 border-b pb-2">
            <b>Passwort-Wiederherstellung</b>
        </h2>
        <p>
            Wir senden Ihnen eine Bestätigungs-E-Mail. Klicken Sie auf den darin
            enthaltenen Link, um Ihr Passwort zu ändern.
        </p>

        <RecoveryForm client:visible clangCode={clangCode} />
    </div>
</div> -->
