---
import RecoveryForm from '../utils/RecoveryFrom';
---

<div class="mb-20 mt-10 flex">
    <div class="ml-auto mr-auto w-[50%] pl-5">
        <h2 class="mb-2 border-b pb-2">
            <b>Passwort-Wiederherstellung</b>
        </h2>
        <p>
            Wir senden Ihnen eine Bestätigungs-E-Mail. Klicken Sie auf den darin
            enthaltenen Link, um Ihr Passwort zu ändern.
        </p>

        <RecoveryForm client:visible />
    </div>
</div>
