---
import getTranslations from '@helpers/translations/server';
import { getClangCodeFromCookie } from '../helpers/client';
import ResetPassword from '../utils/ResetPassword';

const pwHash = Astro.url.searchParams.get('hash')! || '';

const clangCode = getClangCodeFromCookie();
const t = await getTranslations(clangCode, 'shopware');
---

<div class="mb-20 mt-5 flex">
    <div class="ml-auto mr-auto w-[50%] pl-5">
        <h2 class="mb-2 border-b pb-2">
            <b>{t('password_recovery')}</b>
        </h2>

        <ResetPassword client:visible pwHash={pwHash} />
    </div>
</div>
