---
import { getCustomer } from '@helpers/properties-management/server-properties';
import UserMenu from '../atoms/UserMenu';
import UserAddress from '../utils/UserAddress';

const customer = getCustomer(Astro);

const mod = Astro.url.searchParams.get('mod')! || '';
---

<div class="row mt-5 mb-5">
    <div class="flex w-full flex-row flex-wrap">
        <div class="w-[20%] pb-20">
            <h2 class="mb-5 border-b pb-2 font-bold">
                Hallo,
                {customer?.firstName}
                {customer?.lastName}
            </h2>
            <UserMenu client:only="preact" />
        </div>
        <div class="w-[80%] pl-20">
            {
                mod === 'created' && (
                    <>
                        <div
                            class="mb-4 flex rounded-lg bg-green-100 p-4 text-sm text-green-700"
                            role="alert"
                        >
                            <svg
                                class="mr-3 inline h-5 w-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            <div>Neue Adresse wurde erfolgreich anglegt</div>
                        </div>
                    </>
                )
            }
            {
                mod === 'updated' && (
                    <>
                        <div
                            class="mb-4 flex rounded-lg bg-green-100 p-4 text-sm text-green-700"
                            role="alert"
                        >
                            <svg
                                class="mr-3 inline h-5 w-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            <div>Adresse wurde bearbeitet</div>
                        </div>
                    </>
                )
            }
            <UserAddress client:visible />
        </div>
    </div>
</div>
