---
import UserMenu from '../atoms/UserMenu';
import UserAddressCreateModify from '../utils/UserAddressCreateModify';

const addressId = Astro.url.searchParams.get('address')! || '';
let setRedirect = true;
---

<div class="row mt-5 mb-5">
    <div class="flex w-full flex-row flex-wrap">
        <div class="w-[20%] pb-20">
            <UserMenu client:only="preact" />
        </div>
        <div class="w-[80%] pl-20">
            <UserAddressCreateModify
                client:only="preact"
                redirect={setRedirect}
                setFunction={undefined}
                addressId={addressId}
            />
        </div>
    </div>
</div>
