---
import UserMenu from '../atoms/UserMenu';
import ChangeProfile from '../utils/ChangeProfile';
---

<div class="row mt-5 mb-5">
    <div class="flex w-full flex-row flex-wrap">
        <div class="w-[20%] pb-20">
            <UserMenu client:only="preact" />
        </div>
        <div class="w-[80%] pl-20">
            <h1 class="font-bold">Persönliches Profil</h1>
            <p>Überprüfen Sie Ihre persönlichen Daten.</p>

            <ChangeProfile client:only="preact" />
        </div>
    </div>
</div>
