---
import ModuleList from '@layout/ModuleList.astro';
import type { Article, Clang } from 'redaxo-adapter';
interface Props {
    article: Article;
    clang: Clang;
}

const { article, clang } = Astro.props;
---

{
    (!article.online || !clang.online) && (
        <div class="fixed bottom-0 z-50 w-full bg-red-700 p-6 text-center text-white">
            This article is not public yet
        </div>
    )
}
<ModuleList article={article} />
