---
import '@styles/fonts.scss';
import '@styles/spacing.scss';
import '@styles/base.scss';
import KRexLayout from '@kreatif/starter/components/layout/KRexLayout.astro';
import type { Article, Clang, Metadata, NavigationItem } from 'redaxo-adapter';
import ModuleList from '@layout/ModuleList.astro';
import Favicons from '@layout/head/Favicons.astro';
import { baseUrl } from '@config/url';
import Header from '@layout/Header.astro';
import Footer from '@layout/Footer.astro';
interface Props {
    metadata: Metadata;
    clang: Clang;
    clangs: Clang[];
    navigation: NavigationItem[];
    siteStartArticle: Article;
    footerArticle: Article;
    path: string;
    article?: Article;
    footerMenu?: NavigationItem[];
}
const props = Astro.props;
const { footerArticle } = props;
---

<KRexLayout {...props} {baseUrl} bodyClass="overflow-x-hidden pt-16 xl:pt-24">
    <Fragment slot="head">
        <Favicons />
        <link rel="stylesheet" href="/fonts/iconFont/iconFont.scss" />
    </Fragment>
    <Header {...props} />
    <main>
        <slot />
        {
            footerArticle && (
                <ModuleList article={footerArticle} footerModules={true} />
            )
        }
    </main>
    <Footer {...props} />
</KRexLayout>
