---
interface Props {
    class?: string;
    noPadding?: boolean;
}

const { class: className = '', noPadding } = Astro.props;
---

<div
    class:list={[
        'max-w-[1680px] mx-auto relative z-1 w-full flex flex-col',
        !noPadding ? 'px-4' : '',
        className,
    ]}
>
    <slot />
</div>
